
html {
  font-size: 12pt;
  font-family: 'Noto Serif', 'DejaVu Serif', Serif, serif;
}

.sidebar, .sidebar-about h1 {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

.sidebar hr {
  margin: .5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-weight: 300;
}

/*
.sidebar-nav-item {
  margin-left: 1rem;
}
*/

.sidebar {
  font-size: 90%;
}

.sidebar .lead {
  font-size: 100%;
}

.sidebar-nav-item.active {
  color: #BA3925;
  font-weight: inherit;
}

h1.page-title, h1 {
/*  color: #40476D; */
  color: #BA3925;
}

code {
  color: teal;
  padding-left: 0;
  padding-right: 0;
  font-size: 75%;
}

pre.highlight {
  background-color: #F8F5E1;
  color: black;
}

pre {
  white-space: pre;
}

/* Comments */
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: #888;
  font-style: italic;
}

pre code {
  color: black;
}

th {
  background: #666;
  color: white;
  font-weight: normal;
}

a.help {
  float: right;
  color: lightgray;
}